<%- include("partials/header") %>

<div class="topnav">
    <a id="homeNav" class="active" href="/">Главная</a>
</div>
<div id="logoutpageDiv">
    <span class="errorline">Такой страницы не существует</span>
</div>

<%- include("partials/footer") %>