<%- include("partials/header") %>

<div class="topnav">
    <a id="homeNav" class="active" href="/"></i>Главная</a>
    <a href="/users/newblog">Новый пост</a>
    <a id="signinLink" href="/users/login">Войти</a>
</div>

<h1 class="tagline">Техническое задание</h1>

<div class="regisbtnDiv">
    <a class="registerBtn" href="/users/register">Регистрация</a><br><br>
    Уже зарегистрированы? <a href="/users/login">Войти</a>
</div>



<%- include("partials/footer") %>