<%- include("partials/header") %>

<div class="topnav">
    <a id="homeNav" class="active" href="/dashboard"></i>Главная</a>
    <a href="/users/newblog">Новый пост</a>
    <a id="signinLink" href="/logout">Выйти</a>
</div>
<div id="logoutpageDiv">
    <h1 class="tagline">Вы уже в системе</h1>
</div>

<%- include("partials/footer") %>